{% extends 'layout.html' %} {% block content %}

<p>
  Hello {{ user.firstname }},<br /><br />
  To reset your password, please visit the link below:
</p>

<a
  class="btn"
  style="color: #fff;"
  href="http://localhost:5000/api/v1/users/reset-password/{{token}}"
  >Reset Password</a
>
<p>
  If you did not make this request then simply ignore this email and no changes
  will be made.
</p>
<p>
  <span style="display: block;">Thanks,</span>
  <span style="display: block;">The Olympus Team</span>
</p>

{% endblock %}
